In [1]:
import requests
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import acquire
import os

# Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [ ]:
response = requests.get('https://python.zgulde.net/api/v1/items')
response

In [ ]:
data = response.json()
data

{'payload': {'items': [{'item_brand': 'Riceland',
    'item_id': 1,
    'item_name': 'Riceland American Jazmine Rice',
    'item_price': 0.84,
    'item_upc12': '35200264013',
    'item_upc14': '35200264013'},
   {'item_brand': 'Caress',
    'item_id': 2,
    'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
    'item_price': 6.44,
    'item_upc12': '11111065925',
    'item_upc14': '11111065925'},
   {'item_brand': 'Earths Best',
    'item_id': 3,
    'item_name': 'Earths Best Organic Fruit Yogurt Smoothie Mixed Berry',
    'item_price': 2.43,
    'item_upc12': '23923330139',
    'item_upc14': '23923330139'},
   {'item_brand': 'Boars Head',
    'item_id': 4,
    'item_name': 'Boars Head Sliced White American Cheese - 120 Ct',
    'item_price': 3.14,
    'item_upc12': '208528800007',
    'item_upc14': '208528800007'},
   {'item_brand': 'Back To Nature',
    'item_id': 5,
    'item_name': 'Back To Nature Gluten Free White Cheddar Rice Thin Crackers',
    'item_price': 2.61,
    'item_upc12': '759283100036',
    'item_upc14': '759283100036'},
   {'item_brand': 'Sally Hansen',
    'item_id': 6,
    'item_name': 'Sally Hansen Nail Color Magnetic 903 Silver Elements',
    'item_price': 6.93,
    'item_upc12': '74170388732',
    'item_upc14': '74170388732'},
   {'item_brand': 'Twinings Of London',
    'item_id': 7,
    'item_name': 'Twinings Of London Classics Lady Grey Tea - 20 Ct',
    'item_price': 9.64,
    'item_upc12': '70177154004',
    'item_upc14': '70177154004'},
   {'item_brand': 'Lea & Perrins',
    'item_id': 8,
    'item_name': 'Lea & Perrins Marinade In-a-bag Cracked Peppercorn',
    'item_price': 1.68,
    'item_upc12': '51600080015',
    'item_upc14': '51600080015'},
   {'item_brand': 'Van De Kamps',
    'item_id': 9,
    'item_name': 'Van De Kamps Fillets Beer Battered - 10 Ct',
    'item_price': 1.79,
    'item_upc12': '19600923015',
    'item_upc14': '19600923015'},
   {'item_brand': 'Ahold',
    'item_id': 10,
    'item_name': 'Ahold Cocoa Almonds',
    'item_price': 3.17,
    'item_upc12': '688267141676',
    'item_upc14': '688267141676'},
   {'item_brand': 'Honest Tea',
    'item_id': 11,
    'item_name': 'Honest Tea Peach White Tea',
    'item_price': 3.93,
    'item_upc12': '657622604842',
    'item_upc14': '657622604842'},
   {'item_brand': 'Mueller',
    'item_id': 12,
    'item_name': 'Mueller Sport Care Basic Support Level Medium Elastic Knee Support',
    'item_price': 8.4,
    'item_upc12': '74676640211',
    'item_upc14': '74676640211'},
   {'item_brand': 'Garnier Nutritioniste',
    'item_id': 13,
    'item_name': 'Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam',
    'item_price': 6.47,
    'item_upc12': '603084234561',
    'item_upc14': '603084234561'},
   {'item_brand': 'Pamprin',
    'item_id': 14,
    'item_name': 'Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief',
    'item_price': 7.54,
    'item_upc12': '41167300121',
    'item_upc14': '41167300121'},
   {'item_brand': 'Suave',
    'item_id': 15,
    'item_name': 'Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut',
    'item_price': 9.11,
    'item_upc12': '79400847201',
    'item_upc14': '79400847201'},
   {'item_brand': 'Burts Bees',
    'item_id': 16,
    'item_name': 'Burts Bees Daily Moisturizing Cream Sensitive',
    'item_price': 5.17,
    'item_upc12': '792850014008',
    'item_upc14': '792850014008'},
   {'item_brand': 'Ducal',
    'item_id': 17,
    'item_name': 'Ducal Refried Red Beans',
    'item_price': 1.16,
    'item_upc12': '88313590791',
    'item_upc14': '88313590791'},
   {'item_brand': 'Scotch',
    'item_id': 18,
    'item_name': 'Scotch Removable Clear Mounting Squares - 35 Ct',
    'item_price': 4.39,
    'item_upc12': '21200725340',
    'item_upc14': '21200725340'},
   {'item_brand': 'Careone',
    'item_id': 19,
    'item_name': 'Careone Family Comb Set - 8 Ct',
    'item_price': 0.74,
    'item_upc12': '41520035646',
    'item_upc14': '41520035646'},
   {'item_brand': 'Usda Produce',
    'item_id': 20,
    'item_name': 'Plums Black',
    'item_price': 5.62,
    'item_upc12': '204040000000',
    'item_upc14': '204040000000'}],
  'max_page': 3,
  'next_page': '/api/v1/items?page=2',
  'page': 1,
  'previous_page': None},
 'status': 'ok'}

In [ ]:
data.keys()

dict_keys(['payload', 'status'])

In [ ]:
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [ ]:
current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

current_page: 1
max_page: 3
next_page: /api/v1/items?page=2

In [ ]:
data['payload']['items'][:2]

[{'item_brand': 'Riceland',
  'item_id': 1,
  'item_name': 'Riceland American Jazmine Rice',
  'item_price': 0.84,
  'item_upc12': '35200264013',
  'item_upc14': '35200264013'},
 {'item_brand': 'Caress',
  'item_id': 2,
  'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
  'item_price': 6.44,
  'item_upc12': '11111065925',
  'item_upc14': '11111065925'}]

In [ ]:
items_df = pd.DataFrame(data['payload']['items'])
items_df.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [ ]:
base_url = 'https://python.zgulde.net'
print(requests.get(base_url).text)
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

items_df = pd.concat([items_df, pd.DataFrame(data['payload']['items'])]).reset_index()

{"api":"/api/v1","help":"/documentation"}

current_page: 2
max_page: 3
next_page: /api/v1/items?page=3

In [ ]:
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

items_df = pd.concat([items_df, pd.DataFrame(data['payload']['items'])]).reset_index()
items_df.head(2)

current_page: 3
max_page: 3
next_page: None

,level_0,index,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,1.0,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925

# Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores)

In [ ]:
response = requests.get('https://python.zgulde.net/api/v1/stores')
data = response.json()

current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

stores_df = pd.DataFrame(data['payload']['stores'])

current_page: 1
max_page: 1
next_page: None

# Extract the data for sales (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [ ]:
base_url = 'https://python.zgulde.net'
response = requests.get('https://python.zgulde.net/api/v1/sales')
data = response.json()
current_page = data['payload']['page']
next_page = data['payload']['next_page'][-1:]
max_page = data['payload']['max_page']
print(f'current_page: {current_page}')
print(f'next_page: {next_page}')
print(f'max_page: {max_page}')
sales_df = pd.DataFrame(data['payload']['sales'])
for i in range(int(next_page),int(max_page)+1):
    response = requests.get(base_url + data['payload']['next_page'])
    data = response.json()
    current_page = data['payload']['page']
    print(f'current_page: {current_page}')
    sales_df = pd.concat([sales_df, pd.DataFrame(data['payload']['sales'])])
sales_df.to_csv('zguide_sales.csv', index=False)

current_page: 1
next_page: 2
max_page: 183
current_page: 2
current_page: 3
current_page: 4
current_page: 5
current_page: 6
current_page: 7
current_page: 8
current_page: 9
current_page: 10
current_page: 11
current_page: 12
current_page: 13
current_page: 14
current_page: 15
current_page: 16
current_page: 17
current_page: 18
current_page: 19
current_page: 20
current_page: 21
current_page: 22
current_page: 23
current_page: 24
current_page: 25
current_page: 26
current_page: 27
current_page: 28
current_page: 29
current_page: 30
current_page: 31
current_page: 32
current_page: 33
current_page: 34
current_page: 35
current_page: 36
current_page: 37
current_page: 38
current_page: 39
current_page: 40
current_page: 41
current_page: 42
current_page: 43
current_page: 44
current_page: 45
current_page: 46
current_page: 47
current_page: 48
current_page: 49
current_page: 50
current_page: 51
current_page: 52
current_page: 53
current_page: 54
current_page: 55
current_page: 56
current_page: 57
current_page: 58
current_page: 59
current_page: 60
current_page: 61
current_page: 62
current_page: 63
current_page: 64
current_page: 65
current_page: 66
current_page: 67
current_page: 68
current_page: 69
current_page: 70
current_page: 71
current_page: 72
current_page: 73
current_page: 74
current_page: 75
current_page: 76
current_page: 77
current_page: 78
current_page: 79
current_page: 80
current_page: 81
current_page: 82
current_page: 83
current_page: 84
current_page: 85
current_page: 86
current_page: 87
current_page: 88
current_page: 89
current_page: 90
current_page: 91
current_page: 92
current_page: 93
current_page: 94
current_page: 95
current_page: 96
current_page: 97
current_page: 98
current_page: 99
current_page: 100
current_page: 101
current_page: 102
current_page: 103
current_page: 104
current_page: 105
current_page: 106
current_page: 107
current_page: 108
current_page: 109
current_page: 110
current_page: 111
current_page: 112
current_page: 113
current_page: 114
current_page: 115
current_page: 116
current_page: 117
current_page: 118
current_page: 119
current_page: 120
current_page: 121
current_page: 122
current_page: 123
current_page: 124
current_page: 125
current_page: 126
current_page: 127
current_page: 128
current_page: 129
current_page: 130
current_page: 131
current_page: 132
current_page: 133
current_page: 134
current_page: 135
current_page: 136
current_page: 137
current_page: 138
current_page: 139
current_page: 140
current_page: 141
current_page: 142
current_page: 143
current_page: 144
current_page: 145
current_page: 146
current_page: 147
current_page: 148
current_page: 149
current_page: 150
current_page: 151
current_page: 152
current_page: 153
current_page: 154
current_page: 155
current_page: 156
current_page: 157
current_page: 158
current_page: 159
current_page: 160
current_page: 161
current_page: 162
current_page: 163
current_page: 164
current_page: 165
current_page: 166
current_page: 167
current_page: 168
current_page: 169
current_page: 170
current_page: 171
current_page: 172
current_page: 173
current_page: 174
current_page: 175
current_page: 176
current_page: 177
current_page: 178
current_page: 179
current_page: 180
current_page: 181
current_page: 182
current_page: 183

In [ ]:
if os.path.isfile("zguide_sales.csv"):
    sales_df = pd.read_csv('zguide_sales.csv')
else:
    print("can't find zguide sales")

    base_url = 'https://python.zgulde.net'
    response = requests.get('https://python.zgulde.net/api/v1/sales')
    data = response.json()

    current_page = data['payload']['page']
    next_page = data['payload']['next_page'][-1:]
    max_page = data['payload']['max_page']

    print(f'current_page: {current_page}')
    print(f'next_page: {next_page}')
    print(f'max_page: {max_page}')

    sales_df = pd.DataFrame(data['payload']['sales'])

    for i in range(int(next_page),int(max_page)+1):

        response = requests.get(base_url + data['payload']['next_page'])
        data = response.json()

        current_page = data['payload']['page']

        print(f'current_page: {current_page}')

        sales_df = pd.concat([sales_df, pd.DataFrame(data['payload']['sales'])])
    sales_df.to_csv('zguide_sales.csv', index=False)

In [ ]:
sales_df.shape

(913000, 5)

# Combine the data from your three separate dataframes into one large dataframe.

In [ ]:
sales_df.head(2)

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1

In [ ]:
stores_df.head(2)

            store_address   store_city  store_id store_state store_zipcode
0  12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1        9255 FM 471 West  San Antonio         2          TX         78251

In [ ]:
items_df.head(2)

,level_0,index,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,1.0,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925

In [ ]:
df = pd.merge(sales_df,stores_df,how="left",left_on="store",right_on="store_id")
df = pd.merge(df,items_df,how="left",left_on="item",right_on="item_id")
df.to_csv('zguide_sales_combined.csv', index=False)
df

,item,sale_amount,sale_date,sale_id,store,store_address,store_city,store_id,store_state,store_zipcode,level_0,index,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912995,50,63.0,"Wed, 27 Dec 2017 00:00:00 GMT",912996,10,8503 NW Military Hwy,San Antonio,10,TX,78231,9,NaN,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221
912996,50,59.0,"Thu, 28 Dec 2017 00:00:00 GMT",912997,10,8503 NW Military Hwy,San Antonio,10,TX,78231,9,NaN,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221
912997,50,74.0,"Fri, 29 Dec 2017 00:00:00 GMT",912998,10,8503 NW Military Hwy,San Antonio,10,TX,78231,9,NaN,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221
912998,50,62.0,"Sat, 30 Dec 2017 00:00:00 GMT",912999,10,8503 NW Military Hwy,San Antonio,10,TX,78231,9,NaN,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221
912999,50,82.0,"Sun, 31 Dec 2017 00:00:00 GMT",913000,10,8503 NW Military Hwy,San Antonio,10,TX,78231,9,NaN,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221

# Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [ ]:
if os.path.isfile("opsd_germany.csv"):
    opsd_germany_df = pd.read_csv('opsd_germany.csv')
else:
    print("can't find opsd_germany, will attempt to get")
    url = "https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv"
    opsd_germany_df = pd.read_csv(url)
    opsd_germany_df.to_csv('opsd_germany.csv', index=False)
opsd_germany_df

            Date  Consumption     Wind   Solar  Wind+Solar
0     2006-01-01   1069.18400      NaN     NaN         NaN
1     2006-01-02   1380.52100      NaN     NaN         NaN
2     2006-01-03   1442.53300      NaN     NaN         NaN
3     2006-01-04   1457.21700      NaN     NaN         NaN
4     2006-01-05   1477.13100      NaN     NaN         NaN
...          ...          ...      ...     ...         ...
4378  2017-12-27   1263.94091  394.507  16.530     411.037
4379  2017-12-28   1299.86398  506.424  14.162     520.586
4380  2017-12-29   1295.08753  584.277  29.854     614.131
4381  2017-12-30   1215.44897  721.247   7.467     728.714
4382  2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 5 columns]